*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.top{
    width: 100%;
    height: 40px;
    text-align: center;
}

.top img{
    margin: auto;
    height: 45px;
}

.linktomenu a img{
    margin: auto;
    height: 50px;
}

.banner{
    margin-top: 5px;
    text-align: center;
}

.banner img{
    width: 100vw;
    max-width: 800px;
    margin: auto;
}

#menu{
    align-items: center;
}

.categories{
    width: 800px;
    max-width: 80vw;
    margin: auto;
}

.categories img{
    margin-top: 40px;
    margin-bottom: -45px;
}

.cocktail{
    max-width: 80vw;
    margin: auto;
    margin-top: 50px;
    width: 800px;
}

.cocktailimg img{
    width: 800px;
    max-width: 80vw;
    margin: auto;
}

.ingrediences, .content{
    margin-top: 10px;
}

.ingrediences li{
    font-weight: medium;
    font-size: 20px;
}

footer{
    margin-top: 30px;
    text-align: center;
}

footer img{
    margin: auto;
}

.bs .ingrediences h2,
.h .ingrediences h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

.zitat-der-woche{
    text-align: center;
    margin-top: 50px;
}

.zitat-der-woche img{
    margin: auto;
    width: 800px;
    max-width: 100vw;
}

/*colors*/

.cm h3{
    color: red;
}

.banger h1{
    color: #38B6FF;
}
